.wrapper {
  /* background-color: red; */
  width: 1500px;
  margin: 0 auto;
}

.video-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video {
  background-color: #ddd;
  width: 300px;
  height: 300px;
  margin: 10px;
  padding: 10px;
  font-size: 14px;
}

.image-container {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.image {
    max-width: 100%;
    max-height: 100%;
}
